.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #06061d;
  color: white;
  font-size: 2vw;
}

.about h1 {
  font-size: 4vw;
  margin-bottom: 0;
  margin-top: 10vh;
  text-align: center;
}

.about h2 {
  font-size: 4vw;
  margin-bottom: 0;
  margin-top: 10vh;
  text-align: center;
}

.about p {
  margin-top: 2vh;
  font-size: 1.2vw;
  text-align: center;
}

.carrer p {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  object-fit: contain;
}

.carrer {
  margin-bottom: 10vh;
}

.carrer img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: 3vh;
  width: 30px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  margin-top: 2vh;
}

.image-container img {
  margin: 0 1vw;
  height: 3vh;
  width: 1.5vw;
}

.react-icon {
  animation: rotate 10s linear infinite;
}

@media (max-width: 600px) {
  .about {
    font-size: 3vw;
  }
  .about p {
    font-size: 3vw;
  }
  .image-container {
    height: 0vh;
    margin-top: 5vh;
  }
  .image-container img {
    margin: 0 1vw;
    height: 2.5vh;
    width: 2.5vw;
  }
}

/* @media (min-width: 600px) {
  .image-container img {
    margin: 0 1vw;
    height: 3vh;
    width: 1.5vw;
  }
} */

.scroll-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.scroll-arrow span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.scroll-arrow .arrow {
  width: 0;
  height: 0;
  margin-top: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.sobre-mim {
  transition: all 0.5s ease;
}

.carreira {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.sobre-mim.inactive {
  opacity: 0;
  transform: translateY(-20px);
}

.carreira.active {
  opacity: 1;
  transform: translateY(0);
}

