/* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f0533;
    color: #b04646;
    padding: 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar li:last-child {
    margin-right: 0;
    margin-left: auto;
  }
  
  .navbar a {
    text-decoration: none;
    color: #701448;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #213034;
  }
  
  .Login {
    transform: translateY(-50%);
    margin-top: 30px;
  }
  
  .cadastro {
    margin-left: 20px;
    transform: translateY(-50%);
    margin-top: 30px;
  }
  
  @media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar li:last-child {
      margin-left: 0;
      margin-top: 10px;
    }
  
    .button-download{
      margin-left: 10px;
    }
    .Login,
    .cadastro {
      position: static;
      margin: 10px 0;
      transform: none;
  
    }
  }
   */

   .navbar {
    background-color: #1f0533;
    padding: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #701448;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #213034;
  }
  
  .navbar .buttons {
    display: flex;
    align-items: center;
  }
  
  .button-download {
    margin-left: 10px;
  }


  .Login {
    margin-left: 10px;
  }
  
  .cadastro {
    margin-left: 20px;
  }
  
  @media (max-width: 1199px) {
    .navbar .navbar-expand-lg .navbar-toggler {
      display: block;
    }
    .navbar .navbar-expand-lg .navbar-collapse {
      display: none;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar .navbar-expand-lg .navbar-collapse {
      display: flex !important;
    }
  }
  
  @media (max-width: 990px) {
    .navbar .buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .button-download {
      margin-bottom: 10px;
    }
  
    .Login,
    .cadastro {
      margin-bottom: 10px;
    }
  }
  
  