.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f0533;
    color: #b04646;
    padding: 20px;
}

.navbar ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.navbar li {
margin-right: 20px;
}

.navbar li:last-child {
margin-right: 0;
}

.navbar a {
text-decoration: none;
color: #701448;
font-weight: bold;
font-size: 18px;
transition: all 0.3s ease-in-out;
}

.navbar a:hover {
color: #213034;
}

.Login{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} 

.cadastro{
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
} 