.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* padding: 0px; */
    /* background-color: #883997; */
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
  }
  
  .scroll-to-top:hover {
    transform: scale(1.1);

  }
  